.btn {
  background-color: transparent;
  padding: 15px;
  margin: 5px;
  border: 1px solid #61dafb;
  border-radius: 4px;
  font-size: 16px;
  color: #61dafb;
}

.btn:hover {
  background-color: #61dafb;
  color: #111;
  cursor: pointer;
}
